{% extends 'templates/iks_base.html'%} {% block content %}
<div class="container pt-5">
	<h2 class="mb-4 display-5 text-center">Admission Requirements</h2>
	<div>
		<ul class="list-group">
			<li class="list-group-item">Original report card</li>
			<li class="list-group-item">Student Application Form</li>
			<li class="list-group-item">Valid ID or Iqama copy</li>
			<li class="list-group-item">Passport copy of student and guardian</li>
			<li class="list-group-item">Student Birth Certificate</li>
			<li class="list-group-item">Administrative Expenses for new students (1,500 SAR)</li>
			<li class="list-group-item">
				Entrance Exam Fee for New Grades 1 to 6 students (500 SAR)
			</li>
			<li class="list-group-item">Interview Fee for New KG students (300 SAR)</li>
			<li class="list-group-item">Financial Clearance from previous school</li>
			<li class="list-group-item">3 Passport-Sized Photos</li>
			<li class="list-group-item">Medical Form</li>
			<li class="list-group-item">Vaccination Reports</li>
		</ul>
	</div>
</div>
<!-- admission End  -->

<!-- Classes Start -->
<!--  -->
<div class="container-xxl py-5 mt-5">
	<div class="container">
		<div
			class="text-center mx-auto mb-5 wow fadeInUp"
			data-wow-delay="0.1s"
			style="max-width: 600px"
		>
			<h1 class="mb-3">Facilities</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Music Classes</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Spanish Classes</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Cooking Classes</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href=""
							>STEAM & Robotics Classes</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container-xxl mt-5">
	<div class="container">
		<div
			class="text-center mx-auto mb-5 wow fadeInUp"
			data-wow-delay="0.1s"
			style="max-width: 600px"
		>
			<h1 class="mb-3">Sports</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Football Clubs</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Basketball Clubs</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Tennis Clubs</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="classes-item">
					<div class="rounded-circle w-100 mx-auto">
						<img class="img-fluid" src="" alt="" />
					</div>
					<div class="rounded p-4 pt-5 mt-n5">
						<a class="d-block text-center h3 mt-3 mb-4" href="">Indoor Gym</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Classes End -->
{% endblock %}
