{% extends 'templates/iks_base.html'%} {% block content %}
<div class="container-fluid">
	<div id="lightgallery" class="gallery">
		<a href="/assets/iks/assets/gallery/img1.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img1.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img2.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img2.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img3.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img3.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img4.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img4.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img5.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img5.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img6.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img6.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img7.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img7.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img8.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img8.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img9.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img9.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img10.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img10.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img11.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img11.jpg" />
		</a>
		<a href="/assets/iks/assets/gallery/img12.jpg">
			<img class="img" src="/assets/iks/assets/gallery/img12.jpg" />
		</a>
	</div>
</div>
<!-- JS Bundle -->
{% endblock %}
