{% extends 'templates/iks_base.html'%} {% block content %}
<!-- Client 2 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
				<h2 class="mb-4 display-5 text-center">Partnerships</h2>
				<hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
			</div>
		</div>
	</div>

	<div class="container overflow-hidden">
		<div class="d-flex flex-md-row flex-column gy-4 justify-content-center align-items-center">
			<div class="col-6 col-md-4 col-xl-3 text-center">
				<div class="text-secondary px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
					<img
						width="100px"
						src="/assets/iks/img/client.jpg"
						alt=""
					/>
				</div>
			</div>
			<div class="col-6 col-md-4 col-xl-3 text-center">
				<div class="text-secondary px-4 py-3 px-md-6 py-md-4 px-lg-8 py-lg-5">
					<img
						width="200px"
						src="/assets/iks/img/client2.jpg"
						alt=""
					/>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
