{% extends 'templates/iks_base.html'%} {% block content %}
<!-- Facilities Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div
			class="text-center mx-auto mb-5 wow fadeInUp"
			data-wow-delay="0.1s"
			style="max-width: 600px"
		>
			<h1 class="mb-3">Values</h1>
		</div>
		<div class="row g-4">
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="facility-item">
					<div class="facility-text bg-primary">
						<h3 class="text-primary mb-3">Excellence</h3>
						<p class="mb-0">
							Strive for the highest standards in all endeavors and continuously seek
							improvement
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="facility-item">
					<div class="facility-text bg-secondary">
						<h3 class="text-secondary mb-3">Integrity</h3>
						<p class="mb-0">
							Uphold honesty, transparency, and strong moral principles in all
							actions
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="facility-item">
					<div class="facility-text bg-third">
						<h3 class="text-third mb-3">Resilience</h3>
						<p class="mb-0">
							Cultivate the ability to overcome challenges, adapt to change, and
							persist in the face of adversity
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="facility-item">
					<div class="facility-text bg-forth">
						<h3 class="text-forth mb-3">Respect</h3>
						<p class="mb-0">
							Foster a culture of mutual respect, empathy, and appreciation for
							diversity
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-4 about-card">
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="facility-item">
					<div class="facility-text bg-third">
						<h3 class="text-third mb-3">Collaboration</h3>
						<p class="mb-0">
							Promote teamwork and the sharing of ideas, understanding that
							collective efforts lead to greater achievements
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="facility-item">
					<div class="facility-text bg-forth">
						<h3 class="text-forth mb-3">Innovation</h3>
						<p class="mb-0">
							Encourage creativity, curiosity, and a willingness to explore new ideas
							and solutions
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="facility-item">
					<div class="facility-text bg-primary">
						<h3 class="text-primary mb-3">Global Citizenship</h3>
						<p class="mb-0">
							Develop a sense of responsibility towards the world, emphasizing
							sustainability, social justice, and peace
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Facilities End -->
{% endblock %}
