{% extends 'templates/iks_base.html'%} {% block content %}
<!-- Call To Action Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="rounded">
			<div class="row g-0">
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px">
					<div class="position-relative h-100">
						<img
							class="position-absolute w-100 h-100 rounded"
							src="/assets/iks/img/normal3.jpg"
							style="object-fit: cover"
						/>
					</div>
				</div>
				<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
					<div class="h-100 d-flex flex-column justify-content-center p-5">
						<h1 class="mb-4">Why IKS ?</h1>
						<p class="mb-4">
							Ibn Khaldoun International School offers an American-based Curriculum
							program. Enrolling your children at IKS ensures they receive an
							education that harmonizes academic excellence with personal
							development, equipping them for success in an ever-changing world.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Call To Action End -->
{% endblock %}
