/********** Template CSS **********/
:root {
  --primary: #072d69;
  --light: #fff5f3;
  --dark: #103741;
  --secondary: #d00000;
  --third: #0e4aa8;
  --forth: #ce3838;
}

.text-light {
  color: var(--light) !important;
}
.bg-primary {
  background: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}
.bg-secondary {
  background: var(--secondary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.bg-third {
  background: var(--third) !important;
}

.text-third {
  color: var(--third) !important;
}
.bg-forth {
  background: var(--forth) !important;
}

.text-forth {
  color: var(--forth) !important;
}
.w-40 {
  width: 40% !important;
}

.bg-dark {
  background-color: #072d69 !important;
}
.back-to-top {
  position: fixed;
  display: none;
  left: 45px;
  bottom: 65px;
  z-index: 99;
}

.amiri-regular {
  font-family: "Amiri", serif !important;
  font-weight: 400;
  font-style: normal;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease-out,
    visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition:
    opacity 0.5s ease-out,
    visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
  background-color: #072d69;
  border-color: #13418a;
}
.btn.btn-primary:hover {
  color: #072d69;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
  font-weight: 600;
}

.font-secondary {
  font-family: "Lobster Two", cursive;
}

/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  padding: 30px 15px;
  color: var(--dark);
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: #d00000;
}

.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: calc(100% - 15px);
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  /* background: url(../img/bg-header-top.png) center center repeat-x; */
  z-index: 1;
}

.header-carousel::after,
.page-header::after {
  height: 19px;
  top: auto;
  bottom: 0;
  /* background: url(../img/bg-header-bottom.png) center center repeat-x; */
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 448px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/normal4.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Facility ***/
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}

.facility-item .facility-icon i {
  position: relative;
  z-index: 2;
}

.facility-item .facility-text {
  position: relative;
  min-height: 250px;
  padding: 30px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.facility-item .facility-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-text * {
  position: relative;
  z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
}

.facility-item * {
  transition: 0.5s;
}

.facility-item:hover * {
  color: #ffffff !important;
}

/*** About ***/
.about-img img {
  transition: 0.5s;
}

.about-img img:hover {
  background: var(--primary) !important;
}

/*** Classes ***/
.classes-item {
  transition: 0.5s;
}

.classes-item:hover {
  margin-top: -10px;
}

/*** Team ***/
.team-item .team-text {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 17px solid var(--light);
  border-radius: 250px;
  transition: 0.5s;
}

.team-item:hover .team-text {
  border-color: var(--primary);
}

/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
  color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.header-size {
  height: 70vh !important;
}

.m-auto {
  margin: auto;
}

.mission-reverse {
  flex-direction: row-reverse;
}

.mission {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.mission-content {
  display: flex;
  flex-direction: column;
  width: 280px;
  text-align: center;
  margin-top: 30px;
}

.mission-title {
  color: #072d69;
  text-size: 20px;
  font-weight: 600;
}
.mr-3 {
  margin-right: 30px;
}

.about-card {
  justify-content: center;
  margin: auto;
}

@media (max-width: 650px) {
  .mission {
    flex-direction: column;
    align-items: center;
  }

  .mission-content {
    margin-bottom: 30px;
  }
  .mr-3 {
    margin-right: 0px;
  }
}

.href-white {
  color: rgba(255, 255, 255, 0.5) !important;
}

.footer .btn.btn-link:hover {
  color: white !important;
}

.service-section {
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
  height: 136px;
  width: 710px;
  margin-inline: auto;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section .item {
  background: white;
  position: relative;
  height: 70%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section .item:not(:last-child) {
  border-right: 1px solid #dee2e6 !important;
}

.service-section .item a {
  width: 100%;

}
.service-section .item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.service-section .item-content p {
  text-align: center;
  width: 80%;
  margin-bottom: 0px;
}

.service-section .item img {
  width: 33px;
  height: 34px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .service-section {
    top: 69%;
  }
}

@media (max-width: 768px) {
  .service-section {
    position: relative;
    margin: auto;
    width: 100%;
    margin-top: -48px;
    flex-wrap: wrap;
  }
}
.dropdown-item:hover {
  color: var(--primary) !important;
}


/* gallery style */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

.gallery a {
  width: 200px;
  display: block;
}

.gallery img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}
